<app-header></app-header>

<div class="content-wrapper">
  <main *ngIf="movie" class="container" id>
    <a (click)= "goBack()" class="return-link"> return to list</a>
  <h1>Movie: {{movie.title}}</h1>
  <p id="movie-status">{{movie.status}} - {{movie.year}}</p>
  <iframe *ngIf="movie.trailer; else elseBlock"
  [src] ="(movie.trailer).replace('http','https').replace('watch?v=','embed/') | safeUrl" allow="fullscreen"></iframe>

  <ng-template #elseBlock>
    <div class="no-result">
      No trailer available!
    </div>
  </ng-template>

  <section id="synopsis">
    <h2>Synopsis</h2>

    {{movie.overview}}
  </section>
  </main>

</div>

<app-footer></app-footer>
