<app-header></app-header>

<div class="content-wrapper">
  <main class="container" id="main-content">
    <a (click)= "goBack()" class="return-link"> new search</a>
    <h1>Top 10 trending movies</h1>

    <ul *ngIf="movies?.length > 0; else noResult">
      <li *ngFor="let movie of movies; let i=index">
        <figure>
          <a routerLink="/movie-detail/{{movie.movie.ids.trakt}}">
            <img src="{{moviesImages[i]}}" alt="{{movie.movie.title}} poster">
          </a>
          <figcaption>{{movie.movie.title}}</figcaption>
        </figure>
      </li>
    </ul>
    <ng-template  #noResult>
      <div class="no-result">
        No result found !
      </div>
    </ng-template>
  </main>
</div>

<app-footer></app-footer>
