
h1{
 font-size: 2em;
  
  text-transform: capitalize;
}
main{
  padding-bottom: 1em;
  background-color: white;

}

ul li a{
  color: #687980
}
ul{
  padding: 0px;
}
ul li {
  margin-top: 2em;
  margin-bottom: 0.5em;
  list-style-type: none;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 0em 1em;
}

img{
  display: block;
  height: 300px;
  margin: auto;
}
figure{
  height: 400px;
}

figcaption{
  text-transform: capitalize;
  font-size: 1.3em;
  margin-top: 0.6em;
  text-align: center;
}

@media screen and (max-width: 650px) {

  ul li {
    width: 100%
  }

  img{
    margin: auto;
  }

  figcaption{
    text-align: center;
  }

}
