/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
a.return-link{
  display: inline-block;
  margin-top: 1em;
  text-transform: capitalize;
  cursor: pointer;
}

footer{
  text-align: center;
  background-color: #e4efe7;
  padding-top: 10px;
  border-top: 1px solid gray;
}
h1{
  text-transform: uppercase;
}
.no-result{
  color: #ff5200;
}

@media only screen and (max-width: 500px) {
  main{
  font-size: 12px;

  }

  h1{
  font-size: 1.6em;

  }

}
