/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
a.return-link{
  display: inline-block;
  margin: 1em 0em 2em 0em;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.2em;
}
.content-wrapper{
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


.no-result{
  color: #ff5200;
}

@media only screen and (max-width: 500px) {
  main{
  font-size: 12px;

  }

  h1{
  font-size: 1.6em;

  }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
